#contentFrame {
	margin: 4% 8%;
}

#announcementFrame {
	margin: 1% 0 1.5% 0; 
	background-color: #2f3752;
	height: 70%;
	width: 28%;
	float: left;
}

#announcementHeader {
	text-align: center;
	color: white;
	letter-spacing: 1.5px;
}

#formFrame {
	margin-left: 28%;
	border: 1px solid blue;
	height: 73%;
	width: 72%;
}