body {
	background-color: #2f3752;
	color: white;
	font-family: Roboto, sans-serif;
}

h1 {
	font-weight: 500;
	font-size: 9em;
	text-align: center;
}

h2 {
	font-weight: 300;
	font-size: 2em;
	text-align: center;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #a0a0a0;
}

#msgContainer {
	margin: 12% auto 0;
}

#heroMsgNode {
	letter-spacing: 3px;
	margin: 0;
}

#subHeroMsgNode1 {
	margin: 1% auto 0 auto;
}

#subHeroMsgNode2 {
	font-size: 1.5em;
	color: #a0a0a0;
	margin-top: 0.5%;
	margin-bottom: 5%;
}

/*Greatest appreication to Tobias (https://github.com/tobiasahlin/SpinKit)
Start of Spinner*/
.spinner {
 	width: 50px;
 	height: 50px;	
 	position: relative;
 	margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #997d4e;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	
	-webkit-animation: sk-bounce 1.5s infinite ease-in-out;
	animation: sk-bounce 1.5s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -0.75s;
	animation-delay: -0.75s;
}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
/*End of Spinner*/

#buttonHolder {
	margin: 0 auto;
	text-align: center;
	font-size: 1.5em;
	font-weight: 300;
}

.button {
	padding: 15px 20px;
	border: 0.5px solid #a0a0a0;
}

.button:hover {
	background-color: #997d4e;
	color: white;
}